html, body {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding-inline: 20px;
    margin-left: 20px;
}

.btn {
    color: white;
    font-size: 12px;
    background-color: #0095F6;
    border: none;
    padding-block: 8px;
    width: 268px;
    border-radius: 5px;
    cursor: pointer;
}