@font-face {
    font-family: 'Billabong';
    src: url('./assets/fonts/Billabong.otf') format('truetype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}